# Gradle
.gradle/
build/
**/build/

# Local properties (SDK 경로 등)
local.properties

# IDE - Android Studio / IntelliJ
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/other.xml

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# Native
.externalNativeBuild/
.cxx/
/captures

# APK / AAB 산출물
*.apk
*.aab
